<div id="resume" class="span12">
	
	<div id="deals" class="span3 box">
		<span class="title">Oportunidades</span>
		<%= render_resume_with_titles("Ganadas", "Perdidas")%>
	</div>
	<div id="bank" class="span3 box">
		<span class="title">En Caja</span>
		<%= render_resume_with_titles("Banco", "Inversiones")%>
	</div>
	<div id="invoices" class="span3 box">
		<span class="title">Facturas</span>
		<%= render_resume_with_titles("Activas", "Vencidas")%>
	</div>
	
</div>
<div id="detail" class="span12">
</div>