<div id="resume" class="span12">
	
	<div id="deals" class="span3 box">
		<span class="title">Oportunidades</span>
		<%= render :partial => 'pages/resume_total' %>
	</div>
	<div id="bank" class="span3 box">
		<span class="title">Banco</span>
		<%= render :partial => 'pages/resume_total' %>
	</div>
	<div id="invoices" class="span3 box">
		<span class="title">Facturas</span>
		<%= render :partial => 'pages/resume_total' %>
	</div>
	
</div>
<div id="detail" class="span12">
</div>